<%- include("partials/header.ejs") %>
<main>
    <h1>About</h1>
    <p>Donec convallis purus ac lacus mattis ultricies. Ut hendrerit turpis bibendum urna faucibus, vel ultricies augue dignissim. Quisque ultrices lacus nisi, sit amet ornare mi fringilla ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula sit amet purus eu placerat. Nunc tincidunt felis eget mi tempus ullamcorper. Maecenas ligula nulla, pharetra nec finibus at, imperdiet ac felis. Aenean nunc mauris, laoreet id ante sit amet, luctus faucibus lacus. Cras rutrum risus nec facilisis sodales. In metus quam, accumsan nec molestie euismod, venenatis nec lorem. Nunc venenatis pharetra eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo elit a elementum pharetra. Ut vel tellus nec neque congue egestas.
    </p>
</main>
<%- include("partials/footer.ejs") %>