<%- include("partials/header.ejs") %>
<main>
    <h1>Contact</h1>
    <ul>
        <li>www.linkedin.com/in/andre-makoto-molitor-9aa6b7358</li>
        <li>https://github.com/Andre-Makoto</li>
        <li>andremolito4@gmail.com</li>
    </ul>
</main>
<%- include("partials/footer.ejs") %>