<%- include("partials/header.ejs") %>
<form>
    <input name="Title" type="text" class="feedback-input" placeholder="Title" />
    <textarea name="text" class="feedback-input" placeholder="Add your text here!"></textarea>
    <input type="submit" value="SUBMIT" />
  </form>
<%- include("partials/footer.ejs") %>